@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.inner-header {
    height: 15vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /* Flexbox for containers */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.navbar {
    background-color: linear-gradient(15deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    align-items: start;
}

.navbar-toggler {
    position: relative;
    display: block; /* Navbar açıldığında görünsün */
}

.navbar-home-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    display: none; /* İlk başta görünmez olsun */
}


.nav-link {
    text-align: center;
    font-family: 'Times New Roman', Times, 'serif';
    font-size: 30px;
    color: white;
}

/* WORDS */

.white-text {
    color: white;
    font-size: 24px;
    position: absolute;
    z-index: 2;
    mix-blend-mode: difference; /* Beyaz metni siyahı kesmesi için */
}

.word-container {
    position: absolute;
    top: 15vh;
    margin: 0;
    padding: 0;
}

.word {
    margin: 5px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    font-size: 1.5rem;
    user-select: none;

}
